<!DOCTYPE html>

<html lang="en">

  <head>
    <title>LET'S GET IT</title>
    <meta charset="utf-8" />
    <link rel="resetsheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="/vue/vue.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" href="css/deli-very.css">


  </head>

  <body>
    <main id='main'>
      <h1 align=center><span id="explosive"> You in the best burger place in here </span></h1>
      <div class="header">
        <h3 id="headertext">LET'S GET SOME BURGERS!</h3>
        <img src="/img/hamburgers/background.jpg" id="headerpic" alt="header">
      </div>
      <div class="wrapper">
        <div v-for="burger in burgers" class="burgerSelection">
          {{burger.name}}
          <img v-bind:src='burger.image'>
          <ul>
            <li> {{burger.kCal}} kCal </li>
            <li v-if="burger.lactose == true">
              CONTAINS LACTOSE
            </li>
            <li v-if="burger.gluten == true">
              CONTAINS GLUTEN </li>
            <br>
            PICK ME, COACH!
            <input type="checkbox" id="checkbox" v-model="choice" v-bind:value="burger.name">
          </ul>
        </div>
      </div>

      <section id="customer">
        <h2>Customer information</h2>
        <p>
          <label for="fullname">Full name:</label><br>
          <input type="text" id="fullname" name="name" v-model="fullname" placeholder="Full name">
        </p>
        <p>
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email" v-model="email" placeholder="Email">
        </p>

        <p>Gender:</p>
        <input type="radio" name="gender" v-model="gender" value="Female"> Female
        <br>
        <input type="radio" name="gender" v-model="gender" value="Male"> Male
        <br>
        <input type="radio" name="gender" v-model="gender" value="Non-binary"> Non-binary
        <br>
        <input type="radio" name="gender" v-model="gender" value="Undisclosed"> Undisclosed
        <br>

        <p>
          <label for="payment">Payment option:</label><br>
          <select id="payment" name="rcp" v-model="payment">
            <option>Credit card</option>
            <option>Swish</option>
            <option>Cash</option>
            <option>I'm not paying</option>
          </select>
        </p>





        <h1> Chose your delivery spot! </h1>
        <a href="/dispatcher" target="_blank">New window</a>
        <div class="view-box">
          <div id="dots" v-on:click="showOrder">
            <div v-bind:style="{ left: display.x + 'px', top: display.y + 'px'}">
              CRIB
            </div>
          </div>
        </div>

        <div class="orderedItems" v-bind="orderlist">

        </div>
        <button v-on:click="addOrder"><img src="/img/hamburgers/shannonbig.jpg" width="100" height="100">
          LFG
        </button>
      </section>
      <section id="checkout">
        <div>
          <h3>Your order</h3>
          <div v-for="burger in choice">{{burger}}</div>
          <br>
          <h3>Customer information</h3>
          Name: {{fullname}} <br>
          E-mail: {{email}} <br>
          Gender: {{gender}} <br>
          Payment method: {{payment}}
        </div>


      </section>
    </main>
  </body>

</html>
